@keyframes burgerFadeThirdLine {
  from {
    transform: translate(0, 0) rotate(0);
  }
  to {
    transform: translate(-5px, -6px) rotate(45deg);
  }
}

@keyframes burgerFadeFirstLine {
  from {
    transform: translate(0, 0) rotate(0);
  }
  to {
    transform: translate(-5px, 6px) rotate(-45deg);
  }
}

@keyframes burgerFadeSecondLine {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}


.container {
  box-shadow: none;

  .contentDiv {
    padding: 0;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .LogoContainer {
      width: 257px;

      .logoItems {
        height: 64px;
        display: flex;
        justify-content: space-between;

        .logoItemOne {
          width: 64px;
        }

        .logoItemTwo {
          width: 129px;
          height: 28px;
          margin-bottom: 10px;
          padding: 3px 15px;
          align-self: end;
          border-right: 2px solid lightgray;
        }
      }
    }

    .navbar {
      box-shadow: none;
      width: 100%;
      max-width: 1110px;
      padding: 0;
      display: flex;
      justify-content: space-between;

      .collapse.show.navbar-collapse {
        .navbar-nav {
          width: 100%;
          max-width: 1110px;
          height: 100%;
          min-height: 74px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .collapse.navbar-collapse {
        .navbar-nav {
          padding-left: 20px;
          width: 100%;
          max-width: 1110px;
          height: 100%;
          min-height: 74px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .nav-link {
            height: 100%;
            max-height: 74px;
            padding: 0 20px 0 20px;
            margin: 0;
            display: flex;
            align-items: center;
          }

          .wofuerLink {
            background: #2770b8;
            height: 74px;
          }
          .dropdown.show.nav-item {

            .dropdown-menu.show {
              background: #353535;
              font-size: 13px;
              text-align: center;

              .dropdown-item {
                height: 50px;
                .nav-link {
                  height: 50px;
                }
              }
            }
          }
        }
      }

      .collapsing.navbar-collapse {
        .navbar-nav {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }
      }

      .burger {
        display: none;

        div {
          width: 38px;
          height: 3px;
        }
      }
    }

    .languageContainer {
      max-width: 150px;
      display: flex;

      button {
        width: 50px;
        border: none;
        background: none;

        img {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .container {
    .contentDiv {
      .LogoContainer {
        width: 100%;
        max-width: 180px;

        .logoItems {
          height: 50px;
          display: flex;
          justify-content: space-between;

          .logoItemOne {
            width: 50px;
          }

          .logoItemTwo {
            width: 124px;
            height: 28px;
            margin-bottom: 10px;
            padding: 3px 15px;
            align-self: end;
            border-right: 2px solid lightgray;
          }
        }
      }

      .navbar {
        .collapse.navbar-collapse {
          .navbar-nav {
            //background: red;
            margin: auto;
            padding: 0;
            width: 100%;
            height: 100%;
            max-width: 800px;
            //min-height: 74px;
            display: flex;
            justify-content: space-between;
            .dropdown.show.nav-item {

              .dropdown-menu.show {
                background: #353535;
                font-size: 13px;
                text-align: center;

                .dropdown-item {
                  height: 30px;
                  .nav-link {
                    height: 30px;
                  }
                }
              }
            }


            .nav-item {
              height: 100%;

              font-size: 13px;
              display: flex;
              align-items: center;

              .nav-link {
                padding: 0;
                height: 30px;
              }
            }

            .wofuerLink {
              height: 74px;
              padding: 0 10px 0 10px;
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .container {
    .contentDiv {
      .LogoContainer {
        width: 100%;
        max-width: 180px;

        .logoItems {
          width: 100%;
          max-width: 180px;
          height: 50px;
          display: flex;
          justify-content: space-between;

          .logoItemOne {
            width: 50px;
          }

          .logoItemTwo {
            width: 124px;
            height: 28px;
            margin-bottom: 10px;
            padding: 3px 15px;
            align-self: end;
            border-right: 2px solid lightgray;
          }
        }
      }

      .navbar {
        .collapse.show.navbar-collapse {
          .navbar-nav {
            margin: auto;
            padding-left: 0px;
            padding-bottom: 10px;
            width: 100%;
            max-width: 650px;
            display: flex;
            align-items: flex-start;

            .nav-item {
              height: 30px;
              width: 100%;
              padding-left: 10px;

              .nav-link {
                height: 30px;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
              }
            }

            .languageContainer {
              button {
                padding-right: 10px;
              }
            }

            .wofuerLink {
              background: none;
              padding: 0 0 0 10px;
            }

            .dropdown.nav-item {
              max-height: 30px;
              .dropdown-menu.show {
                background: #353535;
                font-size: 13px;
                text-align: center;

                .dropdown-item {
                  .nav-link {
                    height: 30px;
                  }
                }
              }
            }

          }
        }

        .collapsing.navbar-collapse {
          .navbar-nav {
            margin: auto;
            padding-left: 0;
            padding-bottom: 10px;
            width: 100%;
            max-width: 650px;
            display: flex;
            align-items: flex-start;

            .nav-item {
              height: 30px;
              width: 100%;
              padding-left: 10px;

              .nav-link {
                height: 30px;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                font-size: 13px;
              }
            }

            .languageContainer {
              button {
                padding-right: 10px;
              }
            }

            .wofuerLink {
              background: none;
              padding: 0 0 0 10px;
            }

            .dropdown.nav-item {
              max-height: 30px;
            }

            .dropdown-menu.show {
              background: #353535;
            }
          }
        }

        .burger {
          height: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;

          div {
            width: 25px;
            height: 3px;
            background: #cbc9c9;
            border-radius: 2px;
          }
        }

        .burger-active {
          .line1 {
            transform: translate(-5px, 6px) rotate(-45deg);
            animation: burgerFadeFirstLine 0.7ms ease-out;
            transition-delay: 0s;
            transition-duration: 0.4s;
          }

          .line2 {
            animation: burgerFadeSecondLine 0.7ms forwards;
            transition-delay: 0s;
            transition-duration: 0.25s;

          }

          .line3 {
            transform: translate(-5px, -6px) rotate(45deg);
            animation: burgerFadeThirdLine 0.7ms ease-in;
            transition-delay: 0s;
            transition-duration: 0.4s;
          }
        }
      }
    }
  }
}

