
.container {
  .footerContent {
    display: flex;
    flex-direction: row;
    .nav-link {
      margin-right: 50px;
      color: #ffffff;
      h5 {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 375px){
  .container {
    .footerContent {
      flex-direction: column;
      justify-content: center;
      .nav-link {
        margin: auto;
      }
    }
  }
}